

/* .bankSection{
    padding-bottom: 60px;
} */
.bankingCon{
    padding: 50px 20px;
}
.bankingDemons h4{
    font-size: 38px;
    font-weight: 400;
}
.bankingDemons p{
    font-size: 15px;
    letter-spacing: 1px;
    line-height: 25px;
    /* padding-right: 163px; */
}
.sliderBoxOfTranform .innerDiv{
    border-left: 2px solid white;
    padding: 45px 40px;
}
.sliderBoxOfTranform .innerDiv h3{
    font-size: 30px;
    color: white !important;
    font-weight: 500;
}
/* .sliderBoxOfTranform .slick-arrow{
    display: block !important;
} */
.sliderBoxOfTranform .innerDiv p{
    line-height: 28px;
    font-size: 15px;
    margin-top: 21px;
}
.sliderBoxOfTranform  .slick-prev, .slick-next {
    margin-top: 50px;
    top: 100%;
}

.sliderBoxOfTranform .slick-next {
    right: 30%;
}

.sliderBoxOfTranform .slick-prev {
    right: 20%;
}

.sliderBoxOfTranform .slick-prev:before, .slick-next:before {
    font-size: 35px !important;
}

.sliderBoxOfTranform  .slick-list .slick-track .slick-current .innerDiv h3{
    color: #75dab4 !important;
}


/* ===================================================================================== */
.slidesSection{
    margin-top: 70px;
    /* margin-bottom: 40px; */
    position: relative;
    overflow: hidden;
}


.firstOneDiv{
    background-image: url(../assets/images/firstBG.jpg) !important;
  
    background-color: #00000094;
    width: 100%;
    height: 500px;
    position: absolute;
    background-repeat: no-repeat;
    background-size: cover;
}

.slidesBox .innerSlidesDiv{
    border-left: 2px solid white;
    height: 500px;
    padding-left: 20px;
    padding-bottom: 35px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}
.slidesBox .innerSlidesDiv h2{
    font-size: 15px;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 300;
    margin-bottom: 20px;
}
.slidesBox .innerSlidesDiv h4{
    font-size: 25px;
    font-weight: 300;
    margin-bottom: 10px;
}
.slidesBox .innerSlidesDiv p{
    color: white;
    display: none;
    padding-right: 70px;
    line-height: 22px;
}

.slidesBox:hover{
    background: rgba(0, 0, 0, 0.432);
}
.slidesBox:hover .innerSlidesDiv p{
    display: block;
}
.sliderCon{
    position: relative;
}

@media screen and (max-width: 1100px){
    .slidesBox .innerSlidesDiv h4{
        font-size: 20px;
    }
    .slidesBox .innerSlidesDiv p{
        padding: 0;
        font-size: 15px;
    }
}

@media screen and (max-width: 992px){
    .firstOneDiv{
        display: none;
    }
    .slidesBox{
        margin-top: 10px;
        width: 50%;
        flex: unset !important;
        max-width: unset !important;
    }
    .slidesBox .innerSlidesDiv {
        height: 286px;
        background: #11141b;
        box-shadow: 2px 7px 27px #8080804a;
    }
}

@media screen and (max-width: 769px){
    .afterMediUm{
        width: 100% !important;
    max-width: unset !important;
    flex: unset !important;
    margin-bottom: 20px;
    }
}
@media screen and (max-width: 678px){
    .slidesBox{
        margin: 10px auto;
        width: 70%;
    }
}
@media screen and (max-width: 481px){
    .bankingDemons h4{
        font-size: 25px;
    }
    .sliderBoxOfTranform .innerDiv h3{
        font-size: 20px;
        color: white !important;
        font-weight: 500;
    }
    .sliderBoxOfTranform .innerDiv{
        padding: 30px 20px;
        margin-top: 20px;
    }
    .slidesBox{
        width: 90%;
    }
}


